@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

.block-update-user{
    display: flex;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    justify-content: center;


    width: 650px;
    height: auto;

    border-radius: 20px;
    background: #FFF;

    box-shadow: 6px 6px 15px 1px rgba(0, 0, 0, 0.65);
}

.update-user-left-input{
    display: block;
    padding: 0;
    margin: auto;
    position: relative;
}

.title-update-user{
    text-align: center;
    color: #000;

    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input-all-update-user{
    text-align: center;
    width: 500px;
    height: 35px;

    color: #000;

    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 7px;
    border: 1px solid #000;
}

.input-file-update-user{
    text-align: center;
    width: 500px;
    height: 35px;

    color: #000;

    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-all-update-user{
    margin-bottom: 5px;
    color: #000;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-save-update-user{
    text-align: center;
    margin-top: 20px;
}

.btn-save-update-user button{
    cursor: pointer;
    margin: 0 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 505px;
    height: 35px;
    flex-shrink: 0;

    border-radius: 7px;
    border: 1px solid #000;
    background: none;

    text-decoration: none;
    list-style-type: none;
    color: #000;

    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    transition: .5s;
}

.btn-save-update-user button:hover{
    color: #FFF;
    background-color: #1485FF;
    border: 1px solid #1485FF;

    transition: .5s;
}

.img-user-avatar
{
    display: flex;
    justify-content: center;
}

.img-user-avatar img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    /* background: #1485FF; */
}